

<div class="row pt-3">

<div class="col-sm-4">

<p><%= @user.name  %>
<%= (icon 'fas','coffee')  %><%= @user.posts.count  %>杯目さんのページ</p>

<% if @user.avatar.attached? %>
  <!--<%= image_tag @user.avatar, class:"img-fluid mb-2"  %> -->
  <%= image_tag @user.avatar.variant(resize:'200x200').processed, :size =>'80x80'  %>
  <% else %>
  <%= image_tag 'cover.jpg', :size =>'80x80' %>
<% end %>
<div class="balloon my-3">
自己紹介: 
 <%= @user.description  %>
 </div>

 
   <!-- <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, class:"img-fluid" %>
    <% end %> -->

</div>

<div class="col-sm-8">
    <h4 class="text-center">レヴュー 一覧</h4>
    <% @user.posts.each do |post| %>
    <%= link_to post.title, post_path(post)%>
    <br>
    <% end %>
    <h4 class="text-center">いいねしている投稿</h4>
    <% @user.liked_posts.each do |post| %>
    <%= link_to post.title, post_path(post)  %>
    <br>
    <% end %>
    <hr>
</div>
</div>