

<div class="row">

<div class="col-sm-4">
   <%= @user.name  %>LV<%= @user.posts.count  %>

<% if @user.avatar.attached? %>
  <!--<%= image_tag @user.avatar, class:"img-fluid mb-2"  %> -->
  <%= image_tag @user.thumbnail_sm %>
  <% else %>
  <%= image_tag 'cover.jpg', :size =>'80x80' %>
<% end %>
 <%= @user.description  %>

 
   <!-- <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, class:"img-fluid" %>
    <% end %> -->

</div>

<div class="col-sm-8">
    <h2>投稿内容</h2>
    <% @user.posts.each do |post| %>
    <%= link_to post.content  %>
    <hr>
    <% end %>
    <h3>いいねしている投稿</h3>
    <% @user.liked_posts.each do |post| %>
    <%= post.user.email  %>
    <%= post.content  %>
    <% end %>
    <%= link_to "ユーザー一覧へ", users_path  %>
    <%= link_to "ホームへ戻る", posts_path  %>
</div>
</div>