<h1>This is the page you post your coffee log!</h1>

<% if @post.errors.present? %>

<ul id= "error_explanation">
<% @post.errors.full_messages.each do |message| %>
<li><%= message %></li>

<% end %>

</ul>

<% end %>


<!--
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  
    <%= f.input :content, required: true, label: false, placeholder:"タイトル" %>
    <%= f.input :description, required: true, label: false, placeholder:"詳細", 
    style:"height: 620px;"  %>
    <%= f.input :address, required: true, label: false, placeholder:"住所"  %>

    <%= f.button :submit, class:"btn btn-primary btn-block mb-4" %>
<% end %>
-->

<%= form_with model: @post, local: true do |f|  %>



<% @prefectures.each do |prefecture| %>
  <%= f.radio_button :prefecture_id, prefecture.id %>
  <%= prefecture.name %>
 <% end %>


  <%= collection_check_boxes(:post, :tag_ids, Tag.all, :id, :name) do |b| %>
  <%= b.label { b.check_box + b.text } %>
   <% end %>

<div class="form-group">
<%= f.text_field :title, 
class: "form-control mb-2", id:"post_name", placeholder:"店名"   %>
<%= f.text_area :description, 
class: "form-control mb-2", id:"post_description", placeholder:"詳細"   %>
  


<%= f.text_area :address, 
class: "form-control mb-2", id:"post_address", placeholder:"大まかな住所"   %>



 <div class="actions">
    <%= f.submit %>
  </div>


</div>

<% end %>
