

<nav class="navbar navbar-expand-sm navbar-light bg-success">
   
   
<div class="container">

    <ul class="navbar-nav mr-auto ">
    <li> 
      <em>
    <%= link_to "Cafe Navi", root_path, class:"navbar-brand text-light text-weight-bold" %>
    </em>
   
    <!--
      <% if current_user %>
      
       <%= link_to "@" + current_user.name + "LV. "+ current_user.posts.count.to_s ,  current_user, class:"text-light"   %>
      
      <% end %>
      -->
     </li>
    <!--
      <% if current_user && current_user.avatar.attached? %>
       <%= image_tag current_user.thumbnail_sm,  style:"border-radius: 50%" %>
      <% end %> 
    -->

   </li>
    </ul>
   
  
  

    <ul class="navbar-nav">  

      <!-- <ul class="navbar-nav"> -->


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="navbar-nav">

     <% if current_user %>

     <a class="nav-item nav-link active btn "> 
        
      <%= link_to  (icon 'fas','paint-brush'), new_post_path, class:"fa fa-2x text-light" %></a>
    
      <a class="nav-item nav-link active btn "> 
        
      <%= link_to  (icon 'fas','coffee'), posts_path,class:"fa fa-2x text-light"  %></a>
    

      
      <a class="nav-item nav-link ">
        
      <%= link_to (icon 'fas','user-friends') , users_path,class:"fa fa-2x text-light" %>
     
      </a>

      <a class="nav-item nav-link "><%= link_to (icon 'fas','cog'), 
       edit_user_registration_path,  class:"fa fa-2x text-light" %>
      </a> 

         

      <a class="nav-item nav-link "><%= link_to (icon 'fas','circle-notch'), 
      destroy_user_session_path, method: :delete, class:"fa fa-2x text-light" %>
      </a> 

        <% else %>

      
        <a class="nav-item nav-link "><%= link_to (icon 'fas','user-plus'), 
      new_user_registration_path,  class:"fa fa-2x text-light" %>
      </a> 


         <a class="nav-item nav-link "><%= link_to (icon 'fas','circle-notch'), 
       user_session_path,  class:"fa fa-2x text-light" %>
      </a> 
        
        <% end %>
        
    </div>
  </div>
     <!--</ul> -->

      <!--
      <% if current_user  %>
       <button type="button"  class="btn btn-info mx-1"> <%= link_to '新規投稿', new_post_path, class:"text-light"  %></button>
       <button type="button"  class="btn btn-info mx-1"><%= link_to 'プロフィール設定', edit_user_registration_path, class:"text-light"  %></button>
       <button type="button"  class="btn btn-info mx-1"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"text-light"  %></button>
      <% else  %>
      <li class="nav-link"><%= link_to '新規登録|', new_user_registration_path  %></li>
      <li class="nav-link"><%= link_to 'ログイン', new_user_session_path  %></li>
      <% end %>

  

      -->

    </ul>

   </div>
    

</nav>

  <% if flash.notice.present? %>
       <div class="alert alert-info ">
   <%= flash.notice %>
      </div>
    <% end %>

  
  <% if current_user %>

<% else %>
   <div class="jumbotron jumbotron-fluid ">
      <div class="container">
        <h1 class="text-center text-light">夢見るカフェが、</h1>
        <h1 class="text-center text-light">ここにはある。</h1>
        <div class="text-right">
        <button class="btn btn-lg" >
        <%= link_to (icon 'fas','coffee')+"参加する", new_user_registration_path, class:"text-light btn btn-lg btn-info"  %> </button>
        </div>
      </div>
    </div>
    
  <% end %>
  


